{% extends 'base.html.twig' %}

{% form_theme formAddContactType 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <a href="{{ path('home') }}" class="btn btn-secondary" style="margin-bottom: 40px;">Retour</a>    

    <h1 style="color:white">S'inscrire</h1>

    {{ form_start(formAddContactType, {'action': path('AddContact'), 'method': 'POST'}) }}

    <div class="nav nav-pills flex-column">
        
        <label for="" class="form-label mt-4">Nom</label>
        {{ form_widget(formAddContactType.nom, {'attr' : {'placeholder': "Nom", 'class': "form-control"}}) }}

        <label for="" class="form-label mt-4">Prénom</label>
        {{ form_widget(formAddContactType.prenom, {'attr' : {'placeholder': "Prénom", 'class': "form-control"}}) }}

        <label for="" class="form-label mt-4">Adresse</label>
        {{ form_widget(formAddContactType.adresse, {'attr' : {'placeholder': "Adresse", 'class': "form-control"}}) }}

        <label for="" class="form-label mt-4">Age</label>
        {{ form_widget(formAddContactType.age, {'attr' : {'placeholder': "Age", 'class': "form-control"}}) }}

        <label for="" class="form-label mt-4">Ville</label>
        {{ form_widget(formAddContactType.ville, {'attr' : {'placeholder': "Ville", 'class': "form-control"}}) }}

        <label for="" class="form-label mt-4">Télephone</label>
        {{ form_widget(formAddContactType.telephone, {'attr' : {'placeholder': "Télephone", 'class': "form-control"}}) }}

    </div>
    <input type="submit" class="btn btn-warning" value="S'inscrire" style="margin-top: 40px;" />

    {{ form_end(formAddContactType) }}
        
{% endblock %}