{% extends 'base.html.twig' %}

{% block body %}

    <a href="{{ path('home') }}" class="btn btn-secondary" style="margin-bottom: 40px;">Retour</a>

    <h1 style="color:white">Se connecter</h1>

    <form action="{{ path('login') }}" method="POST">
        {% if error %}
            <div class="alert alert-danger" style="margin-top: 20px; margin-bottom: 0px">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('logout') }}">Se déconnecter</a>
            </div>
        {% endif %}
        
        <div class="form-group" style="margin-bottom: 20px;">
            <label for="" class="form-label mt-4">Adresse email</label>
            <input value="{{ last_username }}" placeholder="Adresse email" required name="_username" type="text" class="form-control">

            <label for="" class="form-label mt-4">Mot de passe</label>
            <input placeholder="Mot de passe" required name="_password" type="password" class="form-control">

            <button type="submit" class="btn btn-warning" style="margin-top: 40px;">Se connecter</button>
        </div>
    </form>
        
{% endblock %}