{% extends 'base.html.twig' %}

{% form_theme formRegistration 'bootstrap_5_layout.html.twig' %}

{% block body %}

    <a href="{{ path('home') }}" class="btn btn-secondary" style="margin-bottom: 40px;">Retour</a>    

    <h1 style="color:white">S'inscrire</h1>

    {{ form_start(formRegistration, {'action': path('registration'), 'method': 'POST'}) }}

    <div class="nav nav-pills flex-column">
        
        <label for="" class="form-label mt-4">Nom</label>
        {{ form_widget(formRegistration.name, {'attr' : {'placeholder': "Nom", 'class': "form-control"}}) }}

        <label for="" class="form-label mt-4">Prénom</label>
        {{ form_widget(formRegistration.surname, {'attr' : {'placeholder': "Prénom", 'class': "form-control"}}) }}

        <label for="" class="form-label mt-4">Mot de passe</label>
        {{ form_widget(formRegistration.password, {'attr' : {'placeholder': "Mot de passe", 'class': "form-control"}}) }}

        {{ form_errors(formRegistration.password) }}

        <label for="" class="form-label mt-4">Confirmer le mot de passe</label>
        {{ form_widget(formRegistration.confirm_password, {'attr' : {'placeholder': "Confirmer le mot de passe", 'class': "form-control"}}) }}

        {{ form_errors(formRegistration.confirm_password) }}

    </div>
    <input type="submit" class="btn btn-warning" value="S'inscrire" style="margin-top: 40px;" />

    {{ form_end(formRegistration) }}
        
{% endblock %}