{% extends 'base.html.twig' %}

{% block body %}



<table class="table table-dark table-striped mt-3">
  <div class="row">
				{% for annonce in annonces %}
					<div class="col-md-4">
						<div class="card mb-4 box-shadow">
							<img class="card-img-top" alt="" style="height: 200px;" src="https://ak.picdn.net/shutterstock/videos/24223834/thumb/1.jpg">
							<div class="card-body">
								<div class="card-body">
									<a href={{ path('annonce',{'id': annonce.id })}} type="button" class="btn btn-info">{{ annonce.nom}}</a>
									<h5 class="card-subtitle font-weight-bold mt-2">{{annonce.prix}} euro</h5>
									<p class="card-text mt-2">{{annonce.description}}</p>
									<div class="d-flex justify-content-between align-items-center">
										<h5 class="text">Catégorie : {{annonce.category.nom}}</h5>
									</div>
									<div class="list-group list-group-flush">
										<h6 class="list-group-item">{{annonce.created_at |date("d/m/Y")}} à {{annonce.created_at |date("H:i:s") }} </h6>
								    </div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
</table>
   
{% endblock %}